{% extends 'reporting/base.html' %}

{% load advisory_fields %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block title %}{{ object.source|advisory_source }} advisory {{ object.upstream_id }}{% endblock %}


{% block content %}
    {% regroup object.sourcepackage_set.all by release as release_list %}

    <h2>{{ object.upstream_id }}: {{ advisory.short_description }}</h2>
    <table class="horizontal-table">
        <tr>
            <th>&nbsp;</th><td><a href="{% url 'advisory_list' %}">← Return to newest advisories</a></td>
        </tr>
        <tr class="separate-from-above">
            <th>Source</th><td><img class="distro-icon" src="{% static 'reporting/icons/'|add:object.source|add:'.png' %}" alt="{{ object.source|advisory_source }}">{{ object.source|advisory_source }}</td>
        </tr>
        <tr>
            <th>Upstream ID</th><td><a href="{{ object.source_url }}">{{ object.upstream_id }}</a></td>
        </tr>
        <tr>
            <th>Issued</th><td>{{ object.issued }}</td>
        </tr>
        <tr>
            <th>Releases</th>
            <td>
                {% for release in release_list %}
                    {{ release.grouper }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </td>
        </tr>
        <tr class="separate-from-above">
            <th>Local severity</th><td class="{{ advisory.severity|advisory_severity_class }}">{{ advisory.severity|advisory_severity }}</td>
        </tr>
        <tr>
            <th>Reviewed by</th><td>{{ advisory.reviewed_by|ignore_none }}</td>
        </tr>
        <tr class="separate-from-above">
            <th>Description</th><td>{{ advisory.description|ignore_none|paragraphbreaks }}</td>
        </tr>
        <tr>
            <th>Required action</th><td>{{ advisory.action|ignore_none|paragraphbreaks }}</td>
        </tr>
        <tr class="separate-from-above">
            <th>Source packages</th>
            <td>
                <table class="table package-table">
                    {% for release in release_list %}
                        <thead>
                            <tr class="release-name{% if forloop.first %}-first{% endif %}">
                                <th colspan="2">{{ release.grouper|advisory_release }}</th>
                            <tr>
                                <th class="package-name">Package</th><th>Safe version</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in release.list %}
                                <tr>
                                    <td class="package-name"><a href="{{ item.source_url }}">{{ item.package }}</a></td><td>{{ item.safe_version }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th>Binary packages</th>
            <td>
                <table class="table package-table">
                    {% for release_name, release in binary_packages.items %}
                        <thead>
                            <tr class="release-name{% if forloop.first %}-first{% endif %}">
                                <th colspan="3">{{ release_name|advisory_release }}</th>
                            <tr>
                                <th class="package-name">Package</th><th>Safe version</th><th>Architectures</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for key, package_data in release.items %}
                                <tr>
                                    <td class="package-name"><a href="{{ package_data.package.source_url }}">{{ package_data.package.package }}</a></td><td>{{ package_data.package.safe_version }}</td><td>{{ package_data.architectures|sortedlist }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                </table>
            </td>
        </tr>
        <tr class="separate-from-above">
            <th>Update commands</th>
            <td>
                <table class="table package-table">
		    <thead>
			<tr class="release-name-first">
			    <th class="package-name">Release</th><th>Command</th>
			</tr>
		    </thead>
		    {% for release_name, release in binary_packages.items %}
		    <tbody>
		    <tr>
			<td class="package-name">{{ release_name|advisory_release }}</td>
			<td><div class="well command">{{ aptget_command }} {% for key, package_data in release.items %} {{ package_data.package.package }} {% endfor %}</div></td>
		    </tr>
		    </tbody>
		    {% endfor %}
                </table>
            </td>
        </tr>
        <tr>
            <th>Remaining hosts<br><a href="{% url 'advisory_hostlist' advisory.upstream_id %}">Export to CSV</a></th>
            <td>
                <table class="table package-table">
                    <thead>
                        <tr class="release-name-first">
                            <th class="package-name">Customer</th><th>Hosts</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% regroup advisory.unresolved_hosts by customer as host_list %}
                        {% for hosts in host_list %}
                            <tr>
                                <td>{{ hosts.grouper }}</td>
                                <td>
                                    <div class="well command">
                                        {% for host in hosts.list %}
                                        {{ host.name }}<br>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
            </td>
        </tr>
    </table>
{% endblock %}
