{% extends 'reporting/base.html' %}

{% load bootstrap3 %}
{% load advisory_fields %}

{% block title %}Advisory list{% endblock %}

{% block content %}
    <h2>Newest advisories</h2>

    <form class="separate-from-above form-inline" method="GET">
        <div class="search-field-group form-group pull-right has-feedback">
            <input type="text" class="hasclear form-control" placeholder="Search..." name="q" value="{{ q }}">
             <span class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
        </div>

        <div class="form-group">
            Show
            <select class="form-control submit-automatically" name="paginate_by">
                <option {% if paginate_by == '25' %}selected{% endif %}>25</option>
                <option {% if paginate_by == '50' %}selected{% endif %}>50</option>
                <option {% if paginate_by == '75' %}selected{% endif %}>75</option>
                <option {% if paginate_by == '100' %}selected{% endif %}>100</option>
            </select>
            advisories per page.
        </div>
    </form>


    <table class="table separate-from-above">
        <thead>
            <tr>
                <th>Upstream ID</th>
                <th>Summary</th>
                <th>Releases</th>
                <th>Source packages</th>
                <th>Local severity</th>
                <th>Reviewed by</th>
                <th>Issued</th>
            </tr>
        </thead>
        <tbody>
            {% for advisory in object_list %}
                {% regroup advisory.sourcepackage_set.all by release as release_list %}
                {% regroup advisory.sourcepackage_set.all by package as source_package_list %}

                <tr>
                    <td class="advisory-upstream-id"><a href="{{ advisory.get_absolute_url }}">{{ advisory.formal_upstream_id }}</a></td>
                    <td>{{ advisory.short_description }}</td>
                    <td>
                        {% for release in release_list %}
                            {{ release.grouper }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>
                        {% for package in source_package_list %}
                            {{ package.grouper }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ advisory.severity|advisory_severity }}</td>
                    <td>{{ advisory.reviewed_by|ignore_none }}</td>
                    <td class="advisory-issued">{{ advisory.issued }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% bootstrap_pagination page_obj %}
    </div>
{% endblock %}
