{% extends 'reporting/base.html' %}

{% load humanize %}
{% load bootstrap3 %}
{% load advisory_fields %}
{% load staticfiles %}

{% block title %}Advisory list{% endblock %}

{% block content %}
    <form class="separate-from-above form-inline" method="GET">
        <div class="search-field-group form-group pull-right has-feedback">
            <input type="text" class="hasclear form-control" placeholder="Search..." name="q" value="{{ q }}">
             <span class="clearer glyphicon glyphicon-remove-circle form-control-feedback"></span>
        </div>

        <div class="form-group">
            Show
            <select class="form-control submit-automatically" name="paginate_by">
                <option {% if paginate_by == '25' %}selected{% endif %}>25</option>
                <option {% if paginate_by == '50' %}selected{% endif %}>50</option>
                <option {% if paginate_by == '75' %}selected{% endif %}>75</option>
                <option {% if paginate_by == '100' %}selected{% endif %}>100</option>
            </select>
            advisories per page. Found {{ paginator.count|apnumber }} {% if q != '' %}matching{% endif %} advisor{{ paginator.count|pluralize:"y,ies" }}.

        </div>
    </form>


    <table class="table separate-from-above">
        <thead>
            <tr>
                <th>Upstream ID</th>
                <th>Summary</th>
                <th>Releases</th>
                <th>Source packages</th>
                <th>Severity</th>
                <th>Issued</th>
                <th>Progress</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {# Creates a row for every advisory #}
            {% for advisory in object_list %}
                {% regroup advisory.sourcepackage_set.all|dictsort:'release' by release as release_list %}
                {% regroup advisory.sourcepackage_set.all by package as source_package_list %}

                <tr class="{% if advisory.affected_hosts.distinct.count == 0 %}uninteresting{% else %} {% if not advisory.unresolved_hosts %}completed{% endif %}{% endif %}">
                    <td class="advisory-upstream-id"><img class="distro-icon" src="{% static 'reporting/icons/'|add:advisory.source|add:'.png' %}" alt="{{ advisory.source|advisory_source }}"><a href="{{ advisory.get_absolute_url }}">{{ advisory.upstream_id }}</a></td>

                    <td>{{ advisory.short_description }}</td>

                    <td> {# All releases that an advisory applies to #}
                        {% for release in release_list %}
                            {{ release.grouper }}{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td> {# All source packages that an advisory applies to #}
                        {% for package in source_package_list %}
                            <span class="package-name">{{ package.grouper }}</span>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </td>

                    <td class="{{ advisory.severity|advisory_severity_class }}">{{ advisory.severity|advisory_severity }}</td>

                    <td class="advisory-issued">{{ advisory.issued|date:"Y-m-d" }}</td>

                    <td> {# A progress bar showing the amount of hosts that have been patched. #}
                        <div class="progress">
                            <div class="progress-bar progress-bar-info" role="progressbar" style="width: {% if advisory.resolved_hosts %}{{ advisory.resolved_hosts_percentage }}{% else %}0{% endif %}%">
                            </div>
                            <div class="progress-bar progress-bar-warning" role="progressbar" style="width: {% if advisory.unresolved_hosts %}{{ advisory.unresolved_hosts_percentage }}{% else %}0{% endif %}%">
                            </div>
                        </div>
                    </td>

                    <td style="white-space: nowrap;"> {# Fraction of how many hosts have been patched #}
                        {% if advisory.resolved_hosts %}{{ advisory.resolved_hosts|length }} ⁄ {% endif %}{% if advisory.affected_hosts %}{{ advisory.affected_hosts.distinct.count }}{% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        {% bootstrap_pagination page_obj extra=request.GET.urlencode %}
    </div>
{% endblock %}
