{% extends 'reporting/bootstrap.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block bootstrap3_extra_head %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <link href="{% static "catalyst_bootstrap/css/styles.css" %}" rel="stylesheet">
    <style type="text/css">
        .catalyst-scarf div {
            line-height: 2px;
        }

        .separate-from-above th, .separate-from-above td, form.separate-from-above {
            padding-top: 10px ;
        }

        table.separate-from-above {
            margin-top: 15px !important;
        }

        th, .advisory-upstream-id, .advisory-issued {
            white-space: nowrap;
        }

        .horizontal-table {
            width: 100%;
        }

        .horizontal-table th {
            text-align: right;
            padding-right: 20px;
            vertical-align: top;
        }

        .plain-text {
            white-space: pre;
        }

        .package-table th {
            text-align: left;
        }

        .release-name th {
            padding-top: 25px !important;
        }


        .release-name-first th {
            padding-top: 0 !important;
        }

        .package-name {
            width: 200px;
            white-space: nowrap;
        }

        .search-field-group span {
            color: silver;
            cursor: pointer;
            pointer-events: auto;
        }

        .searchclear {
            position: absolute;
            right: 5px;
            top: 0;
            z-index: 10; top: 10px;
            height: 14px;
            margin: auto;
            font-size: 14px;
            cursor: pointer;
            color: #ccc;
        }

        .command {
            min-height: 20px;
            padding: 19px;
            margin-bottom: 0;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
            font-family: monospace;
        }


        .distro-icon {
            height: 16px;
            margin-right: 5px;
        }

        .uninteresting {
            opacity: 0.35;
        }

        .completed {
        }

        th a {
            font-weight: normal;
        }

        td pre {
            line-height: 0.8;
        }

    </style>
{% endblock %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div id="navbar" class="collapse navbar-collapse">
                <a class="navbar-brand" href="/">Patch friend</a>
                <ul class="nav navbar-nav">
                    <li><a href="#">Overview</a></li>
                    <li><a href="{% url 'advisory_list' %}">Advisories</a></li>
                    <li><a href="#">Hosts</a></li>
                </ul>
            </div>
        </div>

        <div class="catalyst-scarf">
            <div class="col1 col-xs-3">&nbsp;</div>
            <div class="col2 col-xs-3">&nbsp;</div>
            <div class="col3 col-xs-3">&nbsp;</div>
            <div class="col4 col-xs-3">&nbsp;</div>
        </div>
    </nav>

    <div class="container" style="margin-top: 50px;">
        {% bootstrap_messages %}
        <br>
        {% block content %}(no content){% endblock %}
    </div>


    <script>
        // handle forms and pagination

        $(".hasclear").keyup(function () {
            $(this).next('span').toggle(Boolean($(this).val()));
        });

        $(".submit-automatically").change(function() {
            $(this).closest("form").submit();
        });

        if ($(".hasclear").val() == '') {
            $(".clearer").hide($(this).prev('input').val());

            $(".clearer").click(function () {
                $(this).prev('input').val('').focus();
                $(this).hide();
            });
        } else {
            $(".clearer").click(function () {
                $(this).prev('input').val('').focus();
                $(this).closest("form").submit();
            });
        }
    </script>
{% endblock %}
